.xai-card {
  margin-top: 25px;
  padding: 15px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.10);
}

.xai-title {
  font-size: 20px;
  font-weight: bold;
}

.xai-image {
  width: 100%;
  max-width: 700px;
  margin-top: 15px;
  border-radius: 10px;
}
