.container {
  padding: 2rem;
  font-family: "Segoe UI", sans-serif;
  max-width: 1200px;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.predict-btn {
  padding: 0.8rem 1.5rem;
  background-color: #4a68ff;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.predict-btn:hover {
  background-color: #354dd4;
}
